extends administrationPanel

block title
    title EasySO - SSO - Add User
        //if (gte IE 6)&(lte IE 8) noscript link(rel='stylesheet', href='css/fallback.css')
block style
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/mdb.min.css')

block content
    .container
        .row
            .col
                blockquote.blockquote.bq-primary
                    p.h4.bq-title Associa Utente a Client
                    p
                        | Associa uno o più Utenti ad un Client col sistema Easy Sign On!
        .row-m3
            #myAlert.alert.alert-dismissible
                a.close(href='#{addClientUrl}') ×
                strong#testo Inserimento Eseguito con Successo!
        .row
            .container
            .col.table-responsive
                table#tableClient.display.nowrap(cellspacing='0', width='100%')
                    thead
                        tr
                            th
                            th Client ID
                    tfoot
                        tr
                            th
                            th Client ID
            .col.table-responsive
                table#example.display.nowrap(cellspacing='0', width='100%', hidden=true)
                    thead
                        tr
                            th
                            th Username
                    tfoot
                        tr
                            th
                            th Username
        .row.m-3
            button#associaUtenti.btn.btn-primary.btn-lg.btn-block(type='button', onclick='associaUtenti();') Associa
            // Material form register
block javascript
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    // Datatables
    script(type='text/javascript', src='/js/dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js')
    // Tooltips
    script(type='text/javascript', src='/js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/js/bootstrap.min.js')
    // Formatting function DataTablesMin
    script(type='text/javascript', src='/js/dataTableResMin.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/js/mdb.min.js')

    script.
        $(".button-collapse").sideNav();
    script.
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });
    script.
        $('#associaUtenti').hide();
        arrayUtenti = [];
        datiUtente = {
            "userId": [],
            "client_Id": undefined,
            "client_Secret": undefined,
            "redirect_uri": undefined
        }

        $(document).ready(function () {
            $("#myAlert").hide();
            tableClient = $('#tableClient').DataTable({
                ajax: "/getCLient",
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                columns: [
                    {
                        "data": null,
                        "defaultContent": ""
                    },
                    {"data": "client_id"}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                select: {
                    style: 'single'
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                order: [1, 'asc']
            });
            table = $('#example').DataTable({
                columns: [
                    {
                        "data": null,
                        "defaultContent": ""
                    },
                    {"data": "username"}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                select: {
                    style: 'multi'
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                order: [1, 'asc']
            });
            $('#example').parents('div.dataTables_wrapper').first().hide();
            $('#example tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                if (table.rows( '.selected' ).count()) {
                    $('#associaUtenti').show();
                    console.log(table.rows( '.selected' ).count());
                }
                else
                    $('#associaUtenti').hide();
            });

            $('#tableClient tbody').on('click','tr', function () {
                clientId = tableClient.row(this).data();
                $.ajax({
                    url: '/getUsers',
                    type: 'POST',
                    data: JSON.stringify(clientId),
                    cache: false,
                    contentType: 'application/json',
                    success: function (data) {
                        if (clientId !== null) {
                            console.log(clientId)
                            $('#example').parents('div.dataTables_wrapper').first().show();
                            $('#example').prop('hidden', false);
                            table.clear();
                            table.rows.add(data.data);
                            table.draw();
                            //$('#example').prop('hidden', false);
                            //table = $('#example').DataTable({
                            //    columns: [
                            //        {
                            //            "data": null,
                            //            "defaultContent": ""
                            //        },
                            //        {"data": "username"}
                            //    ],
                            //    responsive: {
                            //        details: {
                            //            type: 'column',
                            //            target: 'tr'
                            //        }
                            //    },
                            //    columnDefs: [{
                            //        className: 'control',
                            //        orderable: false,
                            //        targets: 0
                            //    }],
                            //    order: [1, 'asc']
                            //});
                            //$('#example tbody').on('click', 'tr', function () {
                            //    $(this).toggleClass('selected');
                            //});
                        }
                    },
                    faliure: function (data) {
                    }
                })
            });
        });

        //table = $('#example').DataTable({
        //    ajax: "/getUsers",
        //    ajaxSettings: {
        //        method: "GET",
        //        cache: false
        //    },
        //    columns: [
        //        {
        //            "data": null,
        //            "defaultContent": ""
        //        },
        //        {"data": "username"}
        //    ],
        //    responsive: {
        //        details: {
        //            type: 'column',
        //            target: 'tr'
        //        }
        //    },
        //    columnDefs: [{
        //        className: 'control',
        //        orderable: false,
        //        targets: 0
        //    }],
        //    order: [1, 'asc']
        //});
        //$('#example tbody').on('click', 'tr', function () {
        //    $(this).toggleClass('selected');
        //});


    script.
        function associaUtenti() {
            let ids1 = $.map(table.rows('.selected').data(), function (item) {
                return item;
            });
            $("#associaUtenti").prop('disabled', true);
            arrayUtenti = ids1;
            datiUtente.client_Id = clientId;
            $.each(arrayUtenti, function (i) {
                if(arrayUtenti._id === undefined )
                datiUtente.userId[i] = arrayUtenti[i].id;
                else
                datiUtente.userId[i] = arrayUtenti[i]._id;
            });
            console.log(datiUtente);
            $.ajax({
                url: '/addClient',
                type: 'POST',
                data: JSON.stringify(datiUtente),
                cache: false,
                contentType: 'application/json',
                success: function (data) {
                    if (data.errore === false) {
                        $("#myAlert").show();
                        $("#myAlert").addClass("alert-success");
                        table.rows().deselect();

                        tableClient.rows().deselect();
                        $("#associaUtenti").prop('disabled', true);
                        $(".close").click(function () {
                            $("#myAlert").alert("open");
                        });
                    }
                },
                faliure: function (data) {
                    if (data.errore === true) {
                        $("#myAlert").addClass("alert-danger");
                        $('#associaUtenti').prop('disabled', true);
                        $("#testo").text('Errore Associazione');
                        $("#myAlert").alert("open");
                    }
                }
            });
        }

    //script.
    //    $(document).ready(function () {
    //        //$.get("/getUsers", function (data) {
    //        //    var arrayUser = data.data;
    //        //    console.log(arrayUser);
    //        //    var materialUserAddID = document.getElementById('materialUserAdd');
    //        //    $.each(arrayUser, function (i) {
    //        //        var option = document.createElement("option");
    //        //        option.text = arrayUser[i].username;
    //        //        option.value = arrayUser[i].id
    //        //        materialUserAddID.add(option);
    //        //    });
    //        //    console.log(materialUserAddID);
    //        //});
    //        var url_string = window.location.href;
    //        var url = new URL(url_string);
    //        var c = url.searchParams.get("esito");
    //        if (c) {
    //            if (c === 'true') {
    //                $("#myAlert").addClass("alert-success");
    //                $('#materialFormClientId').prop('disabled', true);
    //                $('#materialFormClientSecret').prop('disabled', true);
    //                $('#materialRedirectUri').prop('disabled', true);
    //                $('#materialGrantTypes').prop('disabled', true);
    //                $('#btnSubmit').prop('disabled', true);
    //                $(".close").click(function () {
    //                    $("#myAlert").alert("open");
    //                });
    //            } else {
    //                $("#myAlert").addClass("alert-danger");
    //                $("#testo").text('Errore di inserimento: client già presente!');
    //                $('#materialFormClientId').prop('disabled', false);
    //                $('#materialFormClientSecret').prop('disabled', false);
    //                $('#materialRedirectUri').prop('disabled', false);
    //                $('#materialGrantTypes').prop('disabled', false);
    //                $('#btnSubmit').prop('disabled', false);
    //                $("#myAlert").alert("open");
    //            }
    //        } else if (c === null) {
    //            $('#materialFormClientId').prop('disabled', false);
    //            $('#materialFormClientSecret').prop('disabled', false);
    //            $('#materialRedirectUri').prop('disabled', false);
    //            $('#materialGrantTypes').prop('disabled', false);
    //            $('#btnSubmit').prop('disabled', false);
    //            $("#myAlert").alert("close");
    //        }
    //    });
    //