extends administrationPanel

block title
    title EasySO - SSO - Add User
        //if (gte IE 6)&(lte IE 8) noscript link(rel='stylesheet', href='css/fallback.css')
block style
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/mdb.min.css')

block content
                .container
                    .row
                        .col
                            blockquote.blockquote.bq-primary
                                p.h4.bq-title Aggiungi Utente
                                p
                                    | Inserisci le informazioni del nuovo utente da inserire nel sistema di gestione Easy Sign On!
                    .row
                        .col
                        .col
                            // Material form register
                            form#userRegister(method='post', action='/addUser')
                                .md-form
                                    i.fa.fa-user.prefix.grey-text
                                    input#materialFormRegisterUsername.form-control(type='text', name='materialFormRegisterUsername', required='')
                                    label(for='materialFormRegisterUsername') Username
                                // Material input email
                                .md-form
                                    i.fa.fa-key.prefix.grey-text
                                    input#materialFormRegisterPassword.form-control(type='password', name='materialFormRegisterPassword', required='')
                                    label(for='materialFormRegisterPassword') Password
                                .md-form
                                    i.fa.fa-key.prefix.grey-text
                                    input#materialFormRepeatPassword.form-control(type='password', onchange= name='materialFormRepeatPassword', required='')
                                    label(for='materialFormRepeatPassword') Ripeti Password
                                // Material input email
                                .md-form
                                    i.fa.fa-exclamation-triangle.prefix.grey-text
                                    input#materialFormRegisterClient.form-control(type='text', name='materialFormRegisterClient', required='')
                                    label(for='materialFormRegisterClient') Applicazione
                                // Material input password
                                .md-form
                                    i.fa.fa-lock.prefix.grey-text
                                    input#materialFormRegisterOrganization.form-control(type='text', name ='materialFormRegisterOrganization', required='')
                                    label(for='materialFormRegisterOrganization') Organizzazione
                                .md-form
                                    i.fa.fa-briefcase.prefix.grey-text
                                    input#materialFormRegisterRole.form-control(type='text', name='materialFormRegisterRole', required='')
                                    label(for='materialFormRegisterRole') Ruolo
                                .text-center.mt-4
                                    button#btnSubmit.btn.btn-primary(type='submit') Register
                            // Material form register
                        .col
block javascript
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    // Datatables
    // Tooltips
    script(type='text/javascript', src='/js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/js/mdb.min.js')
    script.
        $(document().ready( function () {
           var password = document.getElementById('materialFormRegisterPassword').value;
           var passwordRepeat = document.getElementById('materialFormRepeatPassword').value;
           if (password !== passwordRepeat) {
               $("#btnSubmit").click(function () {
                   alert("Controllare la password");
               });
              }
          }));