extends layout

block title
    title EasySO - SSO - Admin Panel
block style
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/mdb.min.css')

block body
    body.hidden-sn.mdb-skin
        header
            // Sidebar navigation
            #slide-out.side-nav.sn-bg-4.mdb-sidenav
                ul.custom-scrollbar.list-unstyled(style='max-height:100vh;')
                    // Logo
                    li
                        .logo-wrapper.waves-light
                            a(href='#')
                                img.img-fluid.flex-center(src='images/logo.png')
                    // /. Logo
                    // Social  - decommenta in caso di necessità
                    //li
                    //    ul.social
                    //        li
                    //            a.icons-sm.fb-ic(href='#')
                    //                i.fa.fa-facebook
                    //        li
                    //            a.icons-sm.pin-ic(href='#')
                    //                i.fa.fa-pinterest
                    //        li
                    //            a.icons-sm.gplus-ic(href='#')
                    //                i.fa.fa-google-plus
                    //        li
                    //            a.icons-sm.tw-ic(href='#')
                    //                i.fa.fa-twitter
                    // /Social
                    // Search Form
                    //li
                    //    form.search-form(role='search')
                    //        .form-group.md-form.mt-0.pt-1.waves-light
                    //            input.form-control(type='text', placeholder='Search')
                    // /.Search Form
                    // Side navigation links
                    li
                        ul.collapsible.collapsible-accordion
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-chevron-right
                                    |  Submit blog
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='#') Submit listing
                                        li
                                            a.waves-effect(href='#') Registration form
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-hand-pointer-o
                                    |  Instruction
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='#') For bloggers
                                        li
                                            a.waves-effect(href='#') For authors
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-desktop
                                    |  Client
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='#') Aggiungi Client
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-user-o
                                    |  Utenti
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='#{addUserUrl}') Aggiungi Utente
                                        li
                                            a.waves-effect(href='#{listUserUrl}') Lista Utenti
                    // /. Side navigation links
                .sidenav-bg.mask-strong
            // /. Sidebar navigation
            // Navbar
            nav.navbar.fixed-top.navbar-toggleable-md.navbar-expand-lg.scrolling-navbar.double-nav
                // SideNav slide-out button
                .float-left
                    a.button-collapse(href='#', data-activates='slide-out')
                        i.fa.fa-bars
                // Breadcrumb
                .breadcrumb-dn.mr-auto
                    p Easy Single Sign On
                ul.nav.navbar-nav.nav-flex-icons.ml-auto
                    //li.nav-item
                    //    a.nav-link
                    //        i.fa.fa-envelope
                    //        span.clearfix.d-none.d-sm-inline-block Contact
                    li.nav-item
                        a.nav-link
                            i.fa.fa-user
                            span.clearfix.d-none.d-sm-inline-block Account
                    li.nav-item
                        a.nav-link(href='/')
                            i.fa.fa-times
                            span.clearfix.d-none.d-sm-inline-block Logout
                    // DropDown
                    //li.nav-item.dropdown
                    //    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    //        | Dropdown
                    //    .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                    //        a.dropdown-item(href='#') Action
                    //        a.dropdown-item(href='#') Another action
                    //        a.dropdown-item(href='#') Something else here
            // /.Navbar
        // /.Double navigation
        // Main Layout
        main
            .container-fluid.m-3
block content
                img(style='margin:auto; display:block', src='images/logo.png')
    // Main Layout
block javascript
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    // Tooltips
    script(type='text/javascript', src='/js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/js/mdb.min.js')
    script.
        // SideNav Initialization
        $(".button-collapse").sideNav();

