extends layout

block title
    title EasySO - SSO
  //if (gte IE 6)&(lte IE 8) noscript link(rel='stylesheet', href='css/fallback.css')
block style
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/mdb.min.css')

block body
    body
        div(style='height: 6em')
        .row.my-5
            img(style='margin:auto; display:block', src='images/logo.png')
        .row.h-100
            .col-sm-12.my-auto
                .card.mx-auto.w-50
                    .card-body
                        .form-header.blue-gradient.rounded
                            h3
                                i.fa.fa-lock
                                |  Autenticazione:
                        form.md-form(action="/", method="post")
                            .md-form.font-weight-light
                                i.fa.fa-user.prefix.grey-text
                                input#materialFormEmailEx.form-control(type='text', name='username', placeholder='Username', required='')
                                label(for='materialFormEmailEx') Il tuo Username
                            // Material input password
                            .md-form.font-weight-light
                                i.fa.fa-lock.prefix.grey-text
                                input#materialFormPasswordEx.form-control(type='password', name='password', placeholder='Password', required='')
                                label(for='materialFormPasswordEx') La tua Password
                            .text-center.mt-4
                                button.btn.btn-light-blue.waves-effect.waves-light(type='submit') Entra

    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/js/popper.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/mdb.min.js')