extends administrationPanel

block title
    title EasySO - SSO - List Users
        //if (gte IE 6)&(lte IE 8) noscript link(rel='stylesheet', href='css/fallback.css')
block style
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/mdb.min.css')

block content
                .row
                    .col
                        blockquote.blockquote.bq-primary
                            p.h4.bq-title Elenco Utenti
                            p
                                | Elenco egli utenti presenti nel sistema.
                .row
                    .col
                        table#example.display(style='width:100%')
                            thead
                                tr
                                    th Username
                                    th Password
                                    th Client
                                    th Organizzazione
                                    th Ruolo
                            tfoot
                                tr
                                    th Username
                                    th Password
                                    th Client
                                    th Organizzazione
                                    th Ruolo

block javascript
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    // Datatables
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    // Tooltips
    script(type='text/javascript', src='/js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/js/mdb.min.js')
    script.
        // SideNav Initialization
        $(".button-collapse").sideNav();
    script.
        $(document).ready(function () {
            $('#example').DataTable({
                ajax: "/getUsers",
                responsive: true,
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                columns: [
                    {"data": "username"},
                    {"data": "password"},
                    {"data": "client"},
                    {"data": "type.organization"},
                    {"data": "type.role"}
                ]
            });

        });
