extends administrationPanel

block title
    title EasySO - SSO - List Users
        //if (gte IE 6)&(lte IE 8) noscript link(rel='stylesheet', href='css/fallback.css')
block style
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/mdb.min.css')
    link(rel='stylesheet', href='/style/style.css')

block content
                #modificaUtenteModal.modal.fade
                    .modal-dialog.modal-lg
                        .modal-content
                            // dialog body
                            .modal-header.text-center
                                h2.modal-title Modifica Utente
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                            .modal-body
                                .row
                                    .col
                                        .form.mb-5
                                            i.fa.fa-user.prefix.grey-text.mr-2
                                            label(for='username') Username
                                            input#username.form-control.validate(type='text')
                                    .col
                                        .form.mb-5
                                            i.fa.fa-lock.prefix.grey-text.mr-2
                                            label(data-error='wrong', data-success='right', for='password') Password
                                            input#password.form-control.validate(type='password')
                                .row
                                    .col
                                        .form.mb-5
                                            i.fa.fa-sitemap.prefix.grey-text.mr-2
                                            label(for='organizzazione') Organizzazione
                                            input#organizzazione.form-control.validate(type='text')
                                    .col
                                        .form.mb-5
                                            i.fa.fa-users.prefix.grey-text.mr-2
                                            label(for='ruolo') Ruolo
                                            input#ruolo.form-control.validate(type='text')
                                    .col
                                        .form.mb-5

                            // dialog buttons
                            .modal-footer
                                button.btn.btn-primary.btn-block(type='button', onclick='updateUtente();') Salva
                .row.m-3
                    .col
                        blockquote.blockquote.bq-primary
                            p.h4.bq-title Elenco Utenti
                            p
                                | Elenco degli utenti presenti nel sistema.
                .row.m-3
                    .col
                        button#modificaUtente.btn.btn-primary.btn-lg(onclick='openModalModifica();' disabled='true') Modifica Contatto
                    .col
                        button#eliminaUtente.btn.btn-primary.btn-lg(onclick='eliminaUtente();' disabled='true') Elimina Contatto
                .row.m-3
                    .col.table-responsive
                        table#example.display.nowrap(cellspacing='0', width='100%')
                            thead
                                tr
                                    th
                                    th Username
                                    th Password
                                    th Organizzazione
                                    th Ruolo
                            tfoot
                                tr
                                    th
                                    th Username
                                    th Password
                                    th Organizzazione
                                    th Ruolo

block javascript
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
    // Datatables
    script(type='text/javascript', src='/js/dataTables.min.js')
    // Tooltips
    script(type='text/javascript', src='/js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/js/bootstrap.min.js')
    // Formatting function DataTablesMin
    script(type='text/javascript', src='/js/dataTableResMin.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/js/mdb.min.js')
    // SideNav Initialization
    script.
        $(".button-collapse").sideNav();
    // Load Users Table
    script.

        var arrayUtenti = {};

        datiUtente = {
            "_id": undefined,
            "id": undefined,
            "username": undefined,
            "password": undefined,
            "type": {
                "organization": undefined,
                "role": undefined
            },
        }

        $(document).ready(function () {
            table = $('#example').DataTable({
                ajax: "/getUsers",
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                columns: [
                    {
                        "data": null,
                        "defaultContent": ""
                    },
                    {"data": "username"},
                    {"data": "password"},
                    {"data": "type.organization"},
                    {"data": "type.role"}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                order: [1, 'asc']
            });

            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#modificaUtente').prop('disabled', true);
                    $('#eliminaUtente').prop('disabled', true);
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#modificaUtente').prop('disabled', false);
                    $('#eliminaUtente').prop('disabled', false);
                }
            });

            $('#example tbody').on('click', 'td.details-control', function () {
                let tr = $(this).closest('tr');
                let row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

        });

    script.
        function openModalModifica() {

            let ids1 = $.map(table.rows('.selected').data(), function (item) {
                return item;
            });

            arrayUtenti = ids1;

            $("#modificaUtenteModal").on("show", function () {
                $("#modificaUtenteModal a.btn").on("click", function (e) {
                    console.log("button pressed");
                    $("#modificaUtenteModal").modal('hide');
                });
            });
            $("#modificaUtenteModal").on("hide", function () {
                $("#modificaUtenteModal a.btn").off("click");
            });

            $("#modificaUtenteModal").on("hidden", function () {
                $("#modificaUtenteModal").remove();
            });

            $("#modificaUtenteModal").modal({
                "backdrop": "static",
                "keyboard": true,
                "show": true
            });
            $('#username').val(arrayUtenti[0].username);
            $('#password').val(arrayUtenti[0].password);
            $('#organizzazione').val(arrayUtenti[0].type.organization);
            $('#ruolo').val(arrayUtenti[0].type.role);
        }

        function eliminaUtente() {
            let ids1 = $.map(table.rows('.selected').data(), function (item) {
                return item;
            });
            arrayUtenti = ids1;
            ids1[0].action = "elimina";
            var identificativo = '';
            if(ids1[0]._id === undefined){
                identificativo = JSON.stringify(ids1[0].id);
            }else {
                identificativo = JSON.stringify(ids1[0]._id);
            }
            console.log(identificativo);

            $.ajax({
                url: '/deleteUser/' + identificativo,
                type: 'DELETE',
                success: function (data) {

                    if (data.errore === false) {
                        table.ajax.reload();
                        $('#modificaUtente').prop('disabled', true);
                        $('#eliminaUtente').prop('disabled', true);
                    }
                },
                faliure: function (data) {
                }
            });
        }

        function updateUtente() {
            datiUtente._id = arrayUtenti[0]._id;
            datiUtente.id = arrayUtenti[0].id;
            datiUtente.username = $('#username').val();
            datiUtente.password = $('#password').val();
            datiUtente.type.role = $('#ruolo').val();
            datiUtente.type.organization = $('#organizzazione').val();

            $.ajax({
                url: '/listUsers',
                type: 'POST',
                data: JSON.stringify(datiUtente),
                cache: false,
                contentType: 'application/json',
                success: function (data) {

                    if (data.errore === false) {

                        $("#modificaUtenteModal").modal('hide');
                        $('#modificaUtente').prop('disabled', true);
                        $('#eliminaUtente').prop('disabled', true);
                        table.ajax.reload();
                    }
                },
                faliure: function (data) {
                }
            });

        }